# Environnement virtuel
.venv/
venv/
env/
ENV/
.venv/Scripts/
.venv/Lib/

# Fichiers de configuration
*.env

# Fichiers de cache
__pycache__/
*.py[cod]

# Fichiers de log
*.log

# Fichiers de base de données
*.sqlite3

# Fichiers de l'IDE
.vscode/
.idea/

# Fichiers spécifiques à GitHub
.github/

# Node.js environment
node_modules/
npm-debug.log
yarn-error.log

# Python virtual environment
.Python
pip-log.txt
pip-delete-this-directory.txt

# macOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# Backup files
*.bak
*.swp
*.swo
2-Code/App_VW_2025_open_source.py
2-Code/App_VW_2025_open_source.py
2-Code/App_VW_2025_streamlit.py
2-Code/App_VW_2025.py
2-Code/backend_1.py
2-Code/backend.py
2-Code/backend.py (FastAPI + SQLAlchemy).py
2-Code/delete_model_fr.py
2-Code/download_vosk_model.py
2-Code/FastAPI_main.py
2-Code/Frontend react.js
2-Code/Frontend react.py
2-Code/full_ porject_streamlit.py
2-Code/full_ porject.py
2-Code/main.py
2-Code/Streamlit UI_1.py
2-Code/Streamlit UI.py
2-Code/Streamlit.py
2-Code/VW_2025_1.py
2-Code/App_VW_2025_open_source.py
2-Code/App_VW_2025_streamlit.py
2-Code/App_VW_2025.py
2-Code/backend_1.py
2-Code/backend.py
2-Code/backend.py (FastAPI + SQLAlchemy).py
2-Code/delete_model_fr.py
2-Code/download_vosk_model.py
2-Code/FastAPI_main.py
2-Code/Frontend react.js
2-Code/Frontend react.py
2-Code/full_ porject_streamlit.py
2-Code/full_ porject.py
2-Code/main.py
2-Code/Streamlit UI_1.py
2-Code/Streamlit UI.py
2-Code/Streamlit.py
2-Code/VW_2025_1.py
2-Code/App_VW_2025_open_source.py
2-Code/App_VW_2025_open_source.py
